@model ChessGameModel


<div class="d-flex flex-column player1 flex-wrap w-100 justify-content-center align-items-center" style="max-height: 720px; max-width: 288px;">
    @{
        foreach (var item in Model.ChessBoard.Player1DeadPieces)
        {
            @Html.Raw(item.FaIcon)
        }
    }
</div>
<div class="d-flex flex-column w-100 h-100 chess-board" style="max-width:720px; max-height: 720px;">
    @{
        int rowCount = 0;
        foreach (var row in Model.ChessBoard.Board)
        {
            <div class="d-flex w-100 h-100 board-row" style="border-top: 2px solid black; @(rowCount == 7 ? Html.Raw("border-bottom: 2px solid black;") : Html.Raw(""))">
                @{
                    foreach (var col in row)
                    {
                        var bgColor = "";
                        if (col.HighlightMove == true)
                        {
                            bgColor = "bg-danger";
                        }
                        else{
                            if (col.X % 2 == 1)
                            {
                                if (col.Y % 2 == 1)
                                    bgColor = "bg-warning";
                                else
                                    bgColor = "bg-success";
                            }
                            else if (col.X % 2 == 0)
                            {
                                if (col.Y % 2 == 1)
                                    bgColor = "bg-success";
                                else
                                    bgColor = "bg-warning";
                            }
                        }                        
                        <div class="board-col d-flex justify-content-center align-items-center r-@(col.X)c-@(col.Y) @bgColor p-1 w-100 h-100" data-x="@col.X" data-y="@col.Y" style="max-width: 90px !important; max-height: 90px !important; font-size: 70px; border-left: 2px solid black; @(col.Y == 7 ? Html.Raw("border-right: 2px solid black;") : Html.Raw(""))">                            
                            @{
                                if (col.Piece != null)
                                {
                                    @Html.Raw(col.Piece.FaIcon)                                    
                                }
                            }
                        </div>
                    }
                }
            </div>
            rowCount++;
        }
    }
</div>
<div class="d-flex flex-column player2 flex-wrap w-100 justify-content-center align-items-center" style="max-height: 720px; max-width: 288px;">
    @{
        foreach (var item in Model.ChessBoard.Player2DeadPieces)
        {
            @Html.Raw(item.FaIcon)
        }
    }
</div>